python-dotenv
langchain
langgraph
langchain-openai
pandas
streamlit
langgraph-checkpoint-sqlite  
langchain
langchain-pinecone
pinecone-client
langchain_huggingface
transformers
torch
sentence-transformers